.clear {
	clear: both;
}

body, html {
	margin-top: 20px;
	font-family: Arial, sans-serif;
	color:#444444;
	background-color: #f3f3f3;
}

h1 {
	font-weight: lighter;	
}

.subDetails {
	font-style: italic;
}

.mainDetails {			
	border-bottom: solid;
	border-color: #cf8a05;
	border-width: 2px;				
}

#cv {
	margin-left: 5%;
	width: 90%;		
}

section {
	border-bottom: solid;
	border-width: 1px;
	border-color: #dedede;	
	padding: 10px;
}

#section4 {
	border-style: none;
}

#mainArea {
	width: 95%;
	margin-left: 2.5%;
}

#headshot img{
	width: 128px;
	height: 128px;	
	border-radius: 100px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;		
}

#name {
	float: left;	
	line-height: 10px;		
}

#name h1 {
	font-weight: 900;
}

#contactDetails {	
	float: right;
	margin-left: 10px;
}

#contactDetails ul, #contactDetails a{
	list-style-type: none;	
	text-decoration: none;
	color: #181818;	
}


.sectionContent {
	float: right;
	width: 72.5%;		
}

.sectionContent ul {	
	margin: 10px 0px;
}

.sectionContent li {		
	display: inline-block;		
	width: 32%;
	box-sizing: border-box;
	font-size: 20px;	
}

.sectionTitle {
	float: left;
	width: 25%;
	font-family: Helvetica, sans-serif;	
	color: #cf8a05;
	font-style: italic;		
}

.sectionTitle h1{
	font-size: 1.40em;
	margin: 20px;
}

.sectionContent p{
	margin: 2px;
}

.sectionContent h2{	
	margin-bottom: 0;
}



